@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand",sans-serif;
}
body {
    background-color: lightskyblue;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenido {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    height: auto;
    flex-wrap: wrap;
}
.area1, .area2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.area1 {
    width: 100%;
}
.area2 {
    width: 100%;
}

textarea {
    resize: none;
    border: 1px solid #ccc;
    height: 300px; 
    padding: 10px;
    border-radius: 10px;
    font-size: 1.3rem;
}
#texto__recibido, #resultadoTexto {
    width: 100%;
}
#resultadoTexto {
    background-image: url(../assets/Muñeco.png);
    background-size: cover;
    padding: 10px;
}

.area_botones {

    margin-top: 10px;
}

.container__boton {
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    width: 48%; 
}
ul{
    display: flex;
    justify-content: space-between;
    margin: 1px 20%;
}
a{
    text-decoration: none;
}
footer {
    margin-top: 1%;
    text-align: center;
}

/* Media Queries */
@media (min-width: 768px) {
    .area1 {
        width: 60%;
    }
    .area2 {
        width: 35%;
        margin-left: 20px;
    }
    textarea {
        height: 450px; 
    }
    #texto__recibido {
        width: 40rem;
    }
    #resultadoTexto {
        width: 20rem;
    }
    .area_botones {
        justify-content: center; 
    }
    .container__boton {
        width: auto; 
    }
}
